google-api-python-client
langchain
openai
faiss-cpu
google-generativeai
sentence-transformers
PyPDF2
python-docx
google-auth==2.27.0
google-auth-oauthlib
google-auth-httplib2
langchain-community
langchain-experimental
langchain-google-genai
pypdf
