Flask
langchain-community
pypdf
google-generativeai 
langchain 
langchain-google-genai 
google-auth 
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client 
faiss-cpu 
sentence-transformers

